<section>
        <main class="text-success" id="main">
            <div>
                <div class="row">
                    <div class="col-lg-7">
                        <h4 class="detail-property-name"><strong>{{ data.listing.prop_title }}</strong><br></h4>
                        <p>{{ data.listing.prop_address }}<br></p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="demo">
                        <ul id="lightSlider">
                            <li data-thumb="{{ data.listing.mainphoto }}">
                                <img src="http://uat.homesdirect.ng/{{ data.listing.mainphoto }}" onerror="if (this.src != '../img/d_img.jpg') this.src = '../img/d_img.jpg';" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    {{!-- <div class="d-flex justify-content-end align-items-start" id="compare-div">
                                        <div><i class="icon-share detail-like-icon"></i><i class="fa fa-heart-o detail-like-icon"></i>
                                        </div>
                                    </div> --}}
                    <div class="d-flex flex-grow-1 justify-content-between" id="detail-price-div">
                        <div class="d-flex flex-column justify-content-center" id="price-left-div" style="filter: grayscale(0%);">
                            <h5 class="green-text">Property ID:{{ data.listing.prop_id }}</h5>
                            <p class="detail-price-text"><strong>{{currencyFormatter data.listing.prop_price }}</strong></p>
                        </div>
                        <div class="justify-content-end" id="downpayment-div">
                            <div class="d-flex justify-content-between" id="downpayment-grid"></div>
                            <div class="d-flex justify-content-center align-items-center"></div>
                            <div class="input-group">
                            </div><a class="btn btn-primary btn-block margin-top-20" role="button" href="/afdcalculator">Calculate Mortgage & Apply</a>
                            <div class="text-center margin-top-20"><a href="#">Buy Outright</a></div>
                            
                             </div>
                    </div>
                    <div class="mt-50">
                        <h5>Description</h5>
                        {{ data.listing.prop_desc }}
                    </div>
                </div>
            </div>
            <div id="minimal-tabs">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab"
                            href="#tab-1">Summary</a></li>
                    {{!-- <li class="nav-item"><a class="nav-link text-secondary" role="tab" data-toggle="tab"
                            href="#tab-2">Financials</a></li>
                    <li class="nav-item"><a class="nav-link text-secondary" role="tab" data-toggle="tab"
                            href="#tab-3">Analysis</a></li>
                    <li class="nav-item"><a class="nav-link text-secondary" role="tab" data-toggle="tab"
                            href="#tab-3">Buy Process</a></li>
                    <li class="nav-item"><a class="nav-link text-secondary" role="tab" data-toggle="tab"
                            href="#tab-3">Similar Listings</a></li> --}}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="tab-1">
                        <div class="row" id="property-description">
                            <div
                                class="col-lg-3 thick-top-border border-left-1 border-bottom-1 border-right-1 padding-top-20">
                                <div class="table-responsive table-borderless">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>Area</p>
                                                </td>
                                                <td>
                                                   <p>{{ data.listing.prop_area }}{{ data.listing.prop_areaunits }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Bedroom</p>
                                                </td>
                                                <td>
                                                    <p>{{ data.listing.prop_beds }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Bathroom</p>
                                                </td>
                                                <td>
                                                    <p>{{ data.listing.prop_baths }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Garage</p>
                                                </td>
                                                <td>
                                                    <p>{{ data.listing.prop_garage }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Pool</p>
                                                </td>
                                                <td>
                                                    <p>{{ data.listing.prop_pool }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Kitchen</p>
                                                </td>
                                                <td>
                                                    <p>{{ data.listing.prop_kitchen }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Amenities</p>
                                                </td>
                                                <td>
                                                    <p>{{ data.listing.prop_amenities }}</p>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <ul></ul>
                                </div>
                            </div>
                            <div
                                class="col-lg-5 d-flex flex-column thick-top-border border-bottom-1 border-right-1 padding-top-20">
                                <div><iframe allowfullscreen="" frameborder="0"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmPcQsC2KzDI_b1h1IALMVYzIX1cxqX6Q&amp;q=10+PRINCE+ADELOWO+ADEDEJI+STREET%2C+LAGOS&amp;zoom=15"
                                        width="100%" height="300"></iframe></div>
                                                         </div>
                            <div class="col-lg-4 border-right-1 border-bottom-1 thick-top-border padding-top-20">
                                <h5 class="text-center grey-text">NEIGHBORHOOD INFORMATION</h5>
                                <div class="table-responsive table-borderless">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Settings</td>
                                                <td class="text-right">Estate</td>
                                            </tr>
                                            <tr>
                                                <td>School</td>
                                                <td class="text-right">Within</td>
                                            </tr>
                                            <tr>
                                                <td>Road</td>
                                                <td class="text-right">Tarred</td>
                                            </tr>
                                            <tr>
                                                <td>Flood</td>
                                                <td class="text-right">No flood</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Police Station</td>
                                                <td class="text-right">500m</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col d-sm-none">
                                <h4 class="text-secondary buy-process">Buy Process</h4>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="tab-2"></div>
                    <div class="tab-pane fade" role="tabpanel" id="tab-3"></div>
                </div>
            </div>
        </main>
    </section>