<div class="section-block-grey">
	<div class="container">				
	
    <div class="row property">
        {{#each data }}
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 property-card">
      
        <div class="card">
            <div class="thumb-image">
                <a href="/detail/{{ this.id }}">
                    <img class="product-image" src="http://uat.homesdirect.ng/{{ this.mainphoto }}" onerror="if (this.src != '../img/d_img.jpg') this.src = '../img/d_img.jpg';" />
            </a>
                <div class="thumb-overlay">
                    <p class="overlay-text">{{currencyFormatter  this.prop_price }}</p>
                    <p class="overlay-small-text">Houses | {{ this.prop_area }} sqft | {{ this.prop_category }}</p>
                </div>
            </div>
            <div class="card-body border-1">
                <div class="d-flex cardtitle">
                    <div>
                        <p>{{ this.prop_title }}</p>
                       
                    </div>
                    {{!-- <div class="justify-content-between align-items-center width-50 card-cell">
                        <p class="zero-margin card-box-label">Interest Rate</p>
                        <p class="rent-amount zero-margin card-box-text">5.2%</p>
                    </div> --}}
                </div>
                <div id="housedetail">
                    <div class="border-right card-cell">
                        <p class="zero-margin card-box-label">Bedrooms</p>
                        <p class="rent-amount zero-margin card-box-text">{{ this.prop_beds }}</p>
                    </div>
                    <div class="border-right card-cell">
                        <p class="zero-margin card-box-label">Bathroom</p>
                        <p class="rent-amount zero-margin card-box-text">{{ this.prop_baths }}</p>
                    </div>
                    <div class="card-cell">
                        <p class="zero-margin card-box-label">Kitchen</p>
                        <p class="rent-amount zero-margin card-box-text">{{ this.prop_kitchen }}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center property-card-descrption border-top">
                    <h6 class="card-footer-text">{{truncate this.prop_address }}<br /></h6>
                    <div class="d-flex"><i class="fa fa-home d-xl-flex align-items-xl-center card-house-icon"></i>
                        <p class="card-footer-text">{{ this.prop_category }} </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {{/each }}
</div>
		<div class="mt-30 center-holder">
			<a href="#" class="grey-button button-pagination semi-rounded">1</a>
			<a href="#" class="grey-button-bordered button-pagination semi-rounded">2</a>
			<a href="#" class="grey-button-bordered button-pagination semi-rounded">3</a>
			<a href="#" class="grey-button-bordered button-pagination semi-rounded"><i class="fas fa-angle-right"></i></a>
		</div>			
	</div>
</div>